/* inventary.module.css */

.container {
    background-color: #e6f7ff; /* Azul claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #b3d1e0; /* Azul más oscuro */
    border-radius: 5px;
  }
  
  h2 {
    color: #0066cc; /* Azul más oscuro */
  }
  
  h3 {
    color: #0066cc; /* Azul más oscuro */
  }
  
  p {
    color: #333; /* Texto más oscuro */
  }
  