.profile__container {
  align-items: center;
  border-bottom: 1px solid var(--separation-border-color);
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  margin-top: 10px;
}

.profile__img {
  background-color: var(--separation-border-color);
  border-radius: 50%;
  flex: 1;
  height: 64px;
  width: 64px;
}

.profile__title {
  flex: 3;
  margin-left: 1rem;
}
