:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --selected-item-main-color: #85c0ff80;
  --separation-border-color: #999999;
  --cards-border-color: #cdcdcd;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}
